services:
  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"   # Neo4j Browser
      - "7687:7687"   # Bolt protocol
    environment:
      NEO4J_AUTH: "neo4j/Qwertz123!"  # change password
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      NEO4J_dbms_security_procedures_allowlist: "apoc.*"
      NEO4J_apoc_import_file_enabled: "true"
      NEO4J_apoc_export_file_enabled: "true"
    volumes:
      - ./data:/data
      - ./etl:/etl
      - ./import:/import
      - neo4j_data:/var/lib/neo4j
      - ./scripts:/scripts
  etl:
    image: neo4j:5
    depends_on:
      - neo4j
    environment:
      NEO4J_USERNAME: "neo4j"
      NEO4J_PASSWORD: "Qwertz123!"
    volumes:
      - ./etl:/etl
      - ./data:/data
      - ./import:/import
      - ./scripts:/scripts
    entrypoint: ["/bin/bash", "/scripts/run_etl.sh"]

volumes:
  neo4j_data:
