services:
  neo4j:
    image: neo4j:5.18
    container_name: neo4j
    restart: unless-stopped

    ports:
      - "7474:7474"   # Neo4j Browser
      - "7687:7687"   # Bolt

    environment:
      NEO4J_AUTH: neo4j/Qwertz123!
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_dbms_security_procedures_unrestricted: apoc.*
      NEO4J_dbms_security_procedures_allowlist: apoc.*
      NEO4J_dbms_security_allow__csv__import__from__file__urls: "true"
      NEO4J_server_directories_import: import

    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
      - ./neo4j/import:/import
      - ./neo4j/plugins:/plugins

  etl:
    image: neo4j:5.18
    depends_on:
      - neo4j
    volumes:
      - ./etl:/etl
    entrypoint: >
      bash -c "
      echo 'Waiting for Neo4j...' &&
      sleep 15 &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/00_constraints.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/01_import_airport_airline_country_route.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/02_located_in.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/03_alliances.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/04_member_of.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f /etl/05_distance_km.cypher &&
      cypher-shell -a bolt://neo4j:7687 -u neo4j -p Qwertz123! -f //etl/06_operates.cypher &&
      echo 'ETL complete'
      "
